<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/index.html">Home</a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">Purdue</a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/CGT172/cgt172.html#">CGT172: UX Design Studio I</a></li>
        <li><a class="dropdown-item" href="/CGT245/cgt245.html#">CGT245: Game Development I</a></li>
        <li><a class="dropdown-item" href="/CGT116/cgt116.html#">CGT116: Geometric Modeling</a></li>
    </ul>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown" aria-expanded="false">Others</a>
</li>
